<% content_for :page_actions do %>
  <%= button_link_to t('spree_slider_locations.new_location'), new_object_url, { class: 'btn-primary', icon: 'add.svg', id: 'admin_new_slide_link' } %>
<% end %>

<% content_for :page_title do %>
  <%= t('spree_slider_locations.title') %>
<% end %>
<% if @slide_locations.any? %>
  <div class="table-responsive border rounded bg-white">
    <table class="table" id="listing_slide_locations" data-hook >
      <thead class="text-muted">
        <tr data-hook="admin_slides_index_headers">
          <th><%= Spree.t(:name) %></th>
          <th data-hook="admin_slides_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
      <% @slide_locations.each do |location|%>
        <tr>
          <td class="align-center"><%= location.name %></td>
          <td data-hook="admin_slide_locations_index_row_actions" class="actions d-flex justify-content-end">
            <%= link_to_edit location, no_text: true, class: 'edit' %>
            &nbsp;
            <%= link_to_delete location, no_text: true %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::SlideLocation)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::SlideLocation) %>!
  </div>
<% end %>
